@page
@model AssetRentals.AdminArea.Pages.ManageAssetTypes.AddModel
@{
}


<form method="post">
    <input type="text" name="name"> 
    <input type="text" name="description"> 
    <input type="submit">
</form>

<a href="/ManageAssetTypes/Index">Back to listing page</a>