@page
@model AssetRentals.AdminArea.Pages.ManageAssetTypes.AddModel
@{
}

<h3>Add new Asset Type</h3>
<div style="width:50%">

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  name="name"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"  name="description"rows="3"></textarea>
    </div>
    <input type="submit" class="btn btn-primary">
</form>
</div>

<p><a href="/ManageAssetTypes/Index">Back to listing page</a></p>