@page
@model AssetRentals.AdminArea.Pages.ManageAssetTypes.IndexModel
@{
}

<h3>Asset Types Listing</h3>

@foreach (var assetType in Model.AssetTypes)
{
    <h3>@assetType.Name</h3>
    <h4>@assetType.Description</h4>
}
<a href="/ManageAssetTypes/Add">Add a new one</a>